<body class="off-canvas-sidebar">
  <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="javascript:void(0)">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)">
          <img class="of-cover" src="/img/shareseye-white.png" alt="shareseye logo" />
        </a>
      </div>
    </div>
  </nav>
  <div class="wrapper wrapper-full-page">
    <div class="full-page login-page" filter-color="primary" data-image="/img/bg-pricing.jpeg">
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
              <form action="javascript:void(0)">
                <div class="card card-login card-hidden">
                  <div class="card-header text-center" data-background-color="purple">
                    <h4 class="card-title">Reset your password</h4>
                  </div>
                  <p class="category text-center fw-initial">create your new password</p>
                  <div class="card-content">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">enhanced_encryption</i>
                      </span>
                      <div class="form-group label-floating">
                        <label class="control-label">New password</label>
                        <input type="password" name="password" class="form-control" />
                      </div>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">enhanced_encryption</i>
                      </span>
                      <div class="form-group label-floating">
                        <label class="control-label">Re-enter your new password</label>
                        <input type="password" name="re_enter_password" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="footer text-center">
                    <button type="button" class="btn btn-primary btn-simple btn-wd btn-lg btn-forgot">Update</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
